* {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
}

header {
    background-color: #ffffff;
    border-color: #cccccc;
    border-bottom: 5px;
    overflow: auto;
}

#name {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 220px;
    height: 80px;
    text-align: center;
    margin-left: 16%;
    font-size: 28px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding-top: 20px;
    float: inline-start;
}

#links > div{
    float: inline-start;
    top: 20px;
    left: 32%;
    margin: 15px;
}

#topstripe {
    background-color: #aaaaaa;
    height: 3px;
}

body {
    background-image: url("../images/embossed-diamond.png");
}


section {
    background-color: #ffffff;
    border-color: #dddddd;
    margin-top: 60px;
    margin-bottom: 120px;
    height: 650px;
    margin-left: 16%;
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: 25%;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
    padding-left: 20px;
}


#divider {
    width: 95%;
    height: 5px;
    background-color: #cccccc;
    margin-left: 2%;
    margin-bottom: 15px;
}

#input {
    width: 95%;
    margin-left: 2%;
}


#profile {
    height: 250px;
    width: auto;
    margin-top: 20px;
    margin-left: 5%;
}

p {
    margin-top: 20px;
    margin-left: 2%;
    line-height: 200%;
    margin: 20px; 
}

button {
    background-color: #4aaaa5;
    color: #ffffff;
    scale: 130%;
    margin-left: 3%;
}

#portfolio {
   height: 120px;
   width: auto;
}

#captions {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    height: 30px;
    width: 240px;
    position: relative;
    bottom: 40px;

}


#bottomstripe {
    background-color: #4aaaa5;
    height: 7px;
}

footer {
    background-color: #666666;
    color: #aaaaaa;
    text-align: center;
    height: 50px;
    padding-top: 25px;
}
