html {
    background-color : #6699ff;
}

header {
    color : white;
    font-size : 18px;
    font-family : Arial;
    font-weight : bolder;
    text-align : left;
}

h1 {
    color : black;
    font-size : 12px;
    font-family : sans-serif;
    font-weight : lighter;
    text-align : center;
}

h2 {
    color : white;
    font-size : 60px;
    font-family : Arial;
    font-weight: bold;
    text-align: center;
}

h3 {
    color : white;
    font-size : 12px;
    font-family : sans-serif;
    text-align : center;
}