* {
    font-family: Georgia;
    font-size: 20px;
    background-image: url("../images/symphony.png");
    text-align: center;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

div {
    border-width: 5px;
    border-style: dotted;
    border-color: #333333;
    margin-left: 9%;
    margin-right: 9%;
    height: 550px;
    width: 31%;
}

#left {
    float: left;
}

#right {
    float: right;
}

#left > img {
    scale: 125%;
    margin-top: 20%
}

#left > p { 
    margin-top: 15%;
}


#right > p {
    margin: 6%;
}

/* (Media query)
  These rules take effect when the browser's width
  is either 768px or less.

@media screen and (max-width: 768px) {
    
    Insert browser-width dependent properties here.
    
}
*/