* {
    font-family: Times New Roman;
    font-size: 16px;
    color: black;
    text-align: center;
}

header {
    background-color: gray;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
}

section {
}

#left {
    background-color: blue;
    width: 50%;
    padding-top: 200px;
    padding-bottom: 200px;
    float: inline-start;

}

#right {
    background-color: red;
    width: 25%;
    padding-top: 200px;
    padding-bottom: 200px;
    float: inline-end;
}

footer {
    background-color: green;
    box-sizing: border-box;
    margin-top: 550px;
}